<?xml version="1.0" encoding="utf-8"?>
<!-- 결과 공유: 찍은 완성 화면을 다른 앱(메신저, SNS)이 읽을 수 있게 FileProvider 로 내보낸다(Share.cs). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.kimhanwol.pixelclue.share">
  <application>
    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.share"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/pixelclue_share_paths" />
    </provider>
  </application>
</manifest>
